.head-banner{
    background-image: url(/minecraft-hero2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    /*height:99.882vh;*/
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head-banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* darken */
    z-index: 0;
  }
.head-banner-quote-1{
    font-size: 15px;
    color: rgb(147, 197, 253);
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 2;
    border-radius: 99999px;
    border-color: rgba(96, 165, 250, .2);
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    background-color: rgba(59, 130, 246, .1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 2px 0px rgba(96, 165, 250, .4);
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter:drop-shadow(0 2px 10px rgb(255, 255, 255));
}
.head-banner-title1{
    color: white;
    font-family: "Lake Font";
    font-size: 75px;
    z-index: 2;
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter:drop-shadow(0 2px 10px hsla(0, 0%, 100%, .5));
}
.head-banner-title2{
    color: transparent;
    background: linear-gradient(90deg, #3b82f6, #9333ea, #3b82f6);
    font-family: "Lake Font";
    font-size: 75px;
    z-index: 2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter: drop-shadow(0 2px 15px rgba(96, 165, 250, 0.5));
}
.head-banner-subtitle1{
    z-index: 2;
    font-size: 23px;
    font-family: "Arial", sans-serif;
    color:#ffffffd9;
    text-align: center;
    /*animation: pushUp 1s ease-in-out forwards;*/
}
.head-banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    /*animation: pushUp 1s ease-in-out forwards;*/
    flex-direction: row;
    padding:10px;
}
.head-banner-button1{
    color: white;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Orbitron';
    transition: all 0.3s ease-in-out;
}
.head-banner-button1:hover{
    transform: scale(1.05);
}
.head-banner-button2{
    color: white;
    background-color: hsla(209, 100%, 50%, 0.15);
    backdrop-filter: blur(4px);
    padding: 12px 32px;
    font-size: 18px;
    font-family: 'Orbitron';
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.head-banner-button2:hover{
    transform: scale(1.05);
}
.head-banner-features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    /*animation: pushUp 1s ease-in-out forwards;*/
    flex-direction: row;
}
.head-banner-features-item{
    color: rgba(255, 255, 255, 0.738);
    background-color: hsla(209, 100%, 50%, 0.15);
    backdrop-filter: blur(4px);
    padding: 6px 25px;
    font-size: 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
}
.head-banner-features-item i{
    color:#2563eb;
    font-size: 18px;
}
.banner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner2-quote1{
    font-size: 15px;
    color: rgb(254, 202, 105);
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 2;
    border-radius: 99999px;
    border-color: rgba(250, 175, 96, 0.2);
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    background-color: rgba(246, 160, 48, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 2px 0px rgba(250, 188, 96, 0.4);
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter:drop-shadow(0 2px 10px rgb(255, 255, 255));
}
.banner2-title1{
    font-size: 50px;
    font-family: 'Orbitron';
    /*animation: pushUp 1s ease-in-out forwards;*/
}
.banner2-subtitle1{
    font-size: 20px;
    color:#bfbfbf;
    /*animation: pushUp 1s ease-in-out forwards;*/
}
.banner2-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    /*animation: pushUp 1s ease-in-out forwards;*/
    flex-direction: row;
    flex-wrap: wrap;
    padding:15px;
    /*padding-left: calc(15px-7.5px);*/
    padding-right: calc(15px + 7.5px + 15px);
}
.banner2-menu-item{
    flex: 0 0 calc(25% - 10px);
    padding: 25px;
    padding-bottom: 0px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: rgb(47, 73, 107);
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    background-color: rgba(255,255,255, 0.05);
    width:75%;
    height: 300px;
    gap:10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
.banner2-menu-item:hover{
    border-color:#2563eb;
}
.banner2-menu-item *{
    z-index: 2;
}
.banner2-menu-item::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 25, 0.1) 0%,rgba(0, 0, 25, 0.1) 80%, rgba(35, 137, 254,0.2) 100%);
    z-index: 1;
    border-radius: 8px;
  }
.b2miun{
    cursor: not-allowed;
}
.banner2-menu-item > .card-icon {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-275%);
  border-radius: 8px;
  width: 64px;
  height: auto;
  pointer-events: none; /* won’t block clicks */
  z-index: 5;
}
.banner2-menu-item > .b2mih{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   width: 100%;
}
.banner2-menu-item > .b2mih > span{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Lake Font';
}
.banner2-menu-item > .b2mih > p{
    font-size: 10px;
    color: rgb(78, 251, 78);
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 2;
    border-radius: 99999px;
    border-color: rgba(78, 251, 78, 0.2);
    border-width: 1px;
    border-style: solid;
    padding: 5px 12.5px;
    background-color: rgba(78, 251, 78, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 2px 0px rgba(78, 251, 78, 0.4);
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter:drop-shadow(0 2px 10px rgb(255, 255, 255));
}
.banner2-menu-item > .b2mif{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 10px;
}
.banner2-menu-item > .b2mif > span{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    gap:10px;
}
.banner2-menu-item > .b2mif > span img{
    width: 20px;
    filter:invert(36%) sepia(98%) saturate(2477%) hue-rotate(214deg) brightness(92%) contrast(96%);
}
.banner2-menu-item > .b2mis{
    font-size: 15px;
    color: white;
    text-align: left;
    width: 100%;
}
.banner2-menu-item > .b2mia{
    color: white;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    padding: 12px 32px;
    font-size: 22px;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Orbitron';
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    width:85%;
}
.banner2-menu-item > .b2mia:hover{
    transform: scale(1.05);
}
.banner3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.banner3-quote1{
    font-size: 15px;
    color: rgb(254, 202, 105);
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 2;
    border-radius: 99999px;
    border-color: rgba(250, 175, 96, 0.2);
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    background-color: rgba(246, 160, 48, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 2px 0px rgba(250, 188, 96, 0.4);
    /*animation: pushUp 1s ease-in-out forwards;*/
    filter:drop-shadow(0 2px 10px rgb(255, 255, 255));
}
.banner3-title1{
    font-size: 50px;
    font-family: 'Orbitron';
    /*animation: pushUp 1s ease-in-out forwards;*/
}
.banner3-subtitle1{
    font-size: 20px;
    color:#bfbfbf;
    /*animation: pushUp 1s ease-in-out forwards;*/
}
.banner3-seg{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*animation: pushUp 1s ease-in-out forwards;*/
    flex-direction: row;
    padding: 20px 0px;
}
.banner3-seg > :first-child{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner3-seg > :last-child{
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.banner3-seg1-bar{
    width: 100%;
    height: 8px;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    z-index: 5;
}
@keyframes b3s1b {
    0% { width: 0%; }
    100% { width: 100%; }
}
.banner3-seg1-bar::after{
    content: "";
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #3b82f6, #2563eb);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.banner3-seg1-bar.active::after{
  animation: b3s1b 5s linear infinite;
}
.banner3-seg2 img{
    width: 85%;
    height: auto;
    padding: 1%;
    background-color: rgba(255,255,255, 0.05);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    z-index: 20;
}
.banner3-seg1-title{
    color: transparent;
    background: linear-gradient(90deg, #3b82f6, #9333ea, #3b82f6);
    font-family: "Lake Font";
    font-size: 50px;
    z-index: 2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner4{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
    padding: 25px;
    height: 75vh;
}
.b4t{
    font-size: 55px;
    text-align: center;
    font-family: 'Orbitron';
    display: flex;
    margin-bottom: 10px;
    font-weight: 200;
}
.b4s{
    font-size: 20px;
    text-align: center;
    color: #dbdbdb;
    font-weight: 100;
}
.b4-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
    width: 80%;
    height: 70%;
    padding: 10px;
}
.b4-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 10%;
    background-color: rgba(255,255,255, 0.05);
    padding: 20px 20px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    width: 20%;
    height: 75%;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: visible;
}

.b4-card *{
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.b4-card:hover{
    border-color: #2563eb;
}
.b4c-icon {
  border-radius: 8px;
  pointer-events: none; /* won’t block clicks */
  z-index: 15;
  font-size: 300%;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  padding: 10px;
  padding-bottom: 1px;
}
.b4c-title{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Orbitron';
    color: white;
    padding: 5px;
    padding-left: 0;
}
.b4c-subtitle{
    font-size: 16px;
    font-weight: 100;
    color: #dbdbdb;
    padding-left: 0;
}
.banner5{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
    padding: 25px;
}
.b5t{
    font-size: 55px;
    text-align: center;
    font-family: 'Orbitron';
    display: flex;
    margin-bottom: 10px;
    font-weight: 200;
}
.b5s{
    font-size: 20px;
    text-align: center;
    color: #dbdbdb;
    font-weight: 100;
}
.b5-seg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    padding-right: 0;
}
.b5-seg1{
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    flex-direction: column;
    gap:10px;
}
.b5-seg1 div{
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: 'Orbitron';
    gap: 5px;
    padding: 10px;
    background-color: rgba(255,255,255, 0.05);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}
.b5-seg1 div img{
    width: 40px;
    border-radius: 4px;
}
.b5-seg2{
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    flex-direction: column;
    position: relative;
}
.b5-seg2 img{
    width: 80%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    filter: invert(1) brightness(0.25);
}
.b5-seg2 div{
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: #2563eb;
    position: relative;
    overflow: visible;
}
@keyframes b5s2d {
    0% {width: 25px; height: 25px; }
    50% { width: 30px; height: 30px; }
    100% { width: 25px; height: 25px; }
}
.b5-seg2 div::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 9999px;
    background-color: rgba(37,99,235,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: b5s2d 1s linear infinite;
    transition: all 0.1s ease-in-out;
}
.b5-seg2 div#b5seg2finland{
    position: absolute;
    top: 10.5%;
    left: 49.5%;
}
.b5-seg2 div#b5seg2india{
    position: absolute;
    top: 40.5%;
    left: 62.5%;
}
.b5-seg:has(#b5seg2finland:hover) #b5seg1finland{
    transform: scale(1.05);
}
.b5-seg:has(#b5seg2india:hover) #b5seg1india{
    transform: scale(1.05);
}