@media only screen and (max-width: 1000px) {

  .head-banner{
    width: 100%;
    height: 100vh;
    padding: 20px;
    gap: 20px;
  }

  .head-banner::before,
  .head-banner::after{
    height: 100vh;
  }

  .hbt{
    font-size: 36px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
  }

  .hbs{
    font-size: 16px;
    max-width: 90%;
  }

  .hb-users{
    padding: 5px;
    gap: 12px;
  }

  .hb-user{
    width: 80%;
    padding: 12px;
    gap: 12px;
  }

  .hb-user img{
    width: 18%;
  }

  .hb-user span{
    font-size: 20px;
  }

  .hb-user font{
    font-size: 26px;
  }
}
