---
import Layout from '../layouts/Layout.astro';
import "../styles/aboutus.css";
import "../styles/aboutus-phone.css";
---
<Layout>
    <div class="head-banner">
        <span class="hbq animate-up">Trusted Worldwide</span>
        <span class="hbt animate-up">NODEFORGE HOSTING</span>
        <span class="hbs animate-up">NodeForge is a dedicated hosting company helping businesses bring digital ideas to life through reliable fast and affordable game and VPS hosting solutions built for performance and growth.</span>
        <span class="hbs animate-up">Founded in year 2024</span>
        <a class="hb-button animate-up">See our services</a>
    </div>
    <div class="vr"></div>
    <div class="banner2">
        <span class="b2t">Our Beliefs</span>
        <span class="b2s">At NodeForge, we follow clear rules and standards to deliver reliable services that make you feel confident and supported.</span>
        <div class="b2-cards">
            <div class="b2-card">
                <span class="b2c-icon"><i class="fi fi-rr-shield-check"></i></span>
                <span class="b2c-title">Reliability</span>
                <span class="b2c-subtitle">With 98% server uptime, we ensure that our services are dependable and consistently meet the needs of our customers.</span>
            </div>
            <div class="b2-card">
                <span class="b2c-icon"><i class="fi fi-rr-usd-circle"></i></span>
                <span class="b2c-title">Affordability</span>
                <span class="b2c-subtitle">We offer affordable pricing without compromising on quality, making our services accessible to a wide range of customers.</span>
            </div>
            <div class="b2-card">
                <span class="b2c-icon"><i class="fi fi-rr-heart"></i></span>
                <span class="b2c-title">24/7 Support</span>
                <span class="b2c-subtitle">Our dedicated support team is available around the clock to assist you with any issues or questions you may have.</span>
            </div>
            <div class="b2-card">
                <span class="b2c-icon"><i class="fi fi-rr-tachometer-alt-fastest"></i></span>
                <span class="b2c-title">Optimized</span>
                <span class="b2c-subtitle">We optimize our infrastructure to deliver the best possible performance for your projects, ensuring fast and efficient operations.</span>
            </div>
        </div>
    </div>
    <div class="vr"></div>
    <div class="banner3">
        <span class="b3t">Our Motive</span>
        <span class="b3s">We believe dependable high speed hosting should be easy to use and accessible to everyone. Seeing businesses succeed when their servers run smoothly is what drives us and makes every challenge worthwhile.</span>
        <span class="b3ss">- Staff of NodeForge</span>
    </div>
</Layout>